.lista{
    margin: 0; 
    padding-top: 1vh;
    padding-left: 0;
    margin-bottom: 12vh;
}




li.notification-element{
    width: 90%;
    margin-top: 3vh; 
    margin-bottom: 3vh;
    margin-left: 3vh;
    margin-right: 3vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

li.notification-element img{
    margin-right: 5vh;
}

main img{
    border-radius: 50%;
    width: 10vh;
}

.notifica{
    display: block;
}


