

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    text-align-last: center;
    width: 80vw;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 2rem;
}

.login-form {
    background: white;
    margin-bottom: 2rem;
    border-radius: 15px;
    border: 1px solid;
}

button, #submit-data{
    border-radius: 10%;
    background-color: burlywood;
}



body{
    background-color: beige;
    margin: 0;
    font-family:  'Roboto', Arial, sans-serif;
}


label{
    margin-top: 10px;
}

input{
    margin: 5px 0;
}