header{
    height: fit-content;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: burlywood;
    padding: 1rem;
    position: relative;
}

header > .profile-header {
    height: 70%;
    width: 100%;
    display: flex;
}

.img-container {
    height: 80%;
    margin-right: 2rem;
}

.img-container > img {
    height: 15vw;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 0px;
}

#data-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 8;
}

#data-container > button {
    width: 70%;
    margin-top: 1rem;
    border-radius: 10px;
}

/* @media screen and (min-width: 426px) {
    #data-container > button {
    }
} */

.main-data {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.main-data > div {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.bottom-data{
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.bottom-data-desktop {
    display: none;
}

.user-info {
    height: 100%;
    width: 70%;
    flex: 7;
}



main{
    display: flex; 
    flex-direction: column;
    width: 100%;    
    overflow-y: auto;
    margin-top: 1vh;
    height: 100%;
    align-items: center;
    margin-bottom: 13vh;
}
